@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;

  height: 100%;

  line-height: 1;

  margin: 0;
  padding: 0;
  position: relative;
}

img {
  width: 100%;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

#root {
  padding: 18px 18px;
}

/* header */
.header {
  display: flex;
  justify-content: center;

  margin: 18px 0;
}

.header--game {
  align-items: center;
  justify-content: space-between;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 15px;
  padding: 0.5rem;
}

.score {
  background-color: white;
  border-radius: 15px;
  color: hsl(229, 64%, 46%);
  padding: 8px;
  text-align: center;
}
/* forms */

form {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.form-container {
  width: 90%;

  max-width: 550px;
  margin: 0 auto;
  color: black;
  background-color: snow;
  border-radius: 18px;
  padding: 18px;
}

input[type="text"] {
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 0.5rem;
  margin: 18px 0;
}

input::placeholder {
  color: gray;
}

select {
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 18px 0;
}

.hidden {
  display: none;
}

/* lobby */
.lobby-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.copy-link {
  display: flex;
  align-items: center;

  margin-top: 1rem;
}

.copy-link p {
  margin: 0 10px 0;
}

/* game */
.round-end {
  display: flex;
  justify-content: space-evenly;
}
