@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;

  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: center;

  margin: 18px 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

#root {
  padding: 18px 18px;
}

/* forms */

form {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.form-container {
  width: 80%;

  max-width: 550px;
  margin: 0 auto;
  color: black;
  background-color: snow;
  border-radius: 18px;
  padding: 18px;
}

input[type="text"] {
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 0.5rem;
  margin: 18px 0;
}

input::placeholder {
  color: gray;
}

select {
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 18px 0;
}

.hidden {
  display: none;
}
